<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Barberia Alura</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <header>

        <div class="caja">
            <h1><img src="../statics/img/logo.png" alt="Logo de la Barberia Alura"></h1>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./productos.html">Prodectos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>

    </header>


    <main>
        <form action="">

            <label for="nombreapellido">Nombre y apellido:</label>
            <input type="text" id="nombreapellido" class="input-padron" required>

            <label for="correoelectronico">Correo electronico</label>
            <input type="email" id="correoelectronico" class="input-padron" required placeholder="email@dominio.com">

            <label for="telefono">Telefono</label>
            <input type="tel" id="telefono" class="input-padron" required placeholder='(xx)xxx xxx'>

            <label for="mensaje">Mensaje</label>
            <textarea name="" id="mensaje" cols="70" rows="10" class="input-padron" required></textarea>

            <fieldset>
                <legend>Como te gustaria que te contactemos?</legend>

                <label for="radio-email"><input type="radio" name="contacto" value="email"
                        id="radio-email">Email</label>


                <label for="radio-telefono"><input type="radio" name="contacto" value="telefono"
                        id="radio-telefono">Telefono</label>


                <label for="radio-whatsapp"><input type="radio" name="contacto" value="whatsapp" id="radio-whatsapp"
                        checked>Whats App</label>

            </fieldset>

            <fieldset>
                <legend>En que horario prefiere ser atendido?</legend>
                <select name="" id="">
                    <option value="">Manana</option>
                    <option value="">Tarde</option>
                    <option value="">Noche</option>
                </select>
            </fieldset>


            <label class="checkbox"><input type="checkbox" checked>Le gustaria recibir novedades de a Barberia
                Alura?</label>

            <input type="submit" value="Enviar formulario" class="enviar">
        </form>

        <table>
            <thead>
                <tr>
                    <th>DIA</th>
                    <th>HORARIO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lunes</td>
                    <td>8:00 - 20:00</td>
                </tr>
                <tr>
                    <td>Miercoles</td>
                    <td>8:00 - 20:00</td>
                </tr>
                <tr>
                    <td>Viernes</td>
                    <td>8:00 - 20:00</td>
                </tr>
            </tbody>
        </table>

    </main>


    <footer>
        <img src="../statics/img/logo-blanco.png" alt="Logo de la Barberia Alura">
        <p class="copyright"> &copy Copyright Barbería Alura - 2024</p>
    </footer>

</body>

</html>