<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Barberia Alura</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <header>

        <div class="caja">
            <h1><img src="../statics/img/logo.png" alt=""></h1>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>

    </header>
    <main>

        <ul class="productos">
            <li>
                <h2>Cabello</h2>
                <img src="../statics/img/cabello.jpg" alt="">
                <p class="prod-descripcion">Con tijera o maquina a gusto del cliente</p>
                <p class="prod-precio">$10.00</p>
            </li>
            <li>
                <h2>Barba</h2>
                <img src="../statics/img/barba.jpg" alt="">
                <p class="prod-descripcion">Corte y diseño profesional de barba</p>
                <p class="prod-precio">$8.00</p>
            </li>
            <li>
                <h2>Cabello + Barba</h2>
                <img src="../statics/img/cabello+barba.jpg" alt="">
                <p class="prod-descripcion">Paquete completo de cabello y barba</p>
                <p class="prod-precio"></p>$15.00</p>
            </li>

        </ul>
    </main>

    <footer>
        <img src="../statics/img/logo-blanco.png" alt="">
        <p class="copyright"> &copy Copyright Barbería Alura - 2024</p>
    </footer>


</body>

</html>